<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Images uploader</title>
</head>
<body>
    <form class="slds-form-element slds-form__custom-upload" ref='uploadForm' id='uploadForm' action='/upload' method='POST' encType="multipart/form-data" >
        <div class="slds-form-element">
            <div class="slds-form-element__control  slds-form-element__control__custom-upload-button">
                <input type="submit" id="upload" name="submit" class="slds-input slds-button_neutral" value="UPLOAD" />
            </div>
        </div>
        <div class="slds-form-element__control upload-field">
            <div class="slds-file-selector slds-file-selector_files">
                <div class="slds-file-selector__dropzone">
                    <input type="file" class="slds-file-selector__input slds-assistive-text" id="file_add" aria-labelledby="file-selector-primary-label file-selector-secondary-label" multiple/>
                    <label class="slds-file-selector__body" for="file_add" id="file-selector-secondary-label">
                        <span class="slds-file-selector__button slds-button slds-button_neutral">Add Files</span>
                        <span class="slds-file-selector__text slds-medium-show">or Drop Files</span>
                    </label>
                    <span class="slds-medium-show">(to delete image click on it)</span>
                </div>
            </div>
            <div id="previews"></div>
        </div>
    </form>

    <div class="errors-block" id="errors-block">

    </div>

</body>
</html>