<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Images uploader</title>
</head>
<body>
    <div class="button-block">
        <a class='button-block__exit-link' href="/logout">LOG OUT</a>
        <a class='button-block__profile-link' href="/profile">PROFILE</a>
    </div>
    <div class="wrapper-block">
        <div class="wrapper-block__upload-block">
            <form class="wrapper-block__form" ref='uploadForm'
                  id='uploadForm'
                  action='/upload'
                  method='POST'
                  encType="multipart/form-data">
                <label class="wrapper-block__label-adder" for="file_add">ADD IMAGES</label>
                <input type="file" name="sampleFile" id="file_add" multiple>
                <input class="wrapper-block__input-upload" id='upload' type='submit' value='UPLOAD' />
            </form>
        </div>
        <div class="wrapper-block__preview-block" id="previews"></div>
    </div>
</body>
</html>