<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Log in</title>
</head>
<body>
    <div class="logo">
        <img src="" alt="">
    </div>
    <div class="log-wrap">
        <form id="form" name="form" action="/log" method="post">
            <label id="user" for="name"></label>
            <input autofocus type="text" name="name" id="name" placeholder="Username" required/>
            <label id="pass" for="password"></label>
            <input type="password" name="password" id="password" placeholder="Password" required />
            <input type="submit" id="submit" name="submit" value="SIGN IN"/>
        </form>
        <a href="/reg">Register Now</a>
    </div>
</body>
</html>