<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Images uploader</title>
</head>
<body>
    <div class="button-block">
        <a class='button-block__exit-link' href="/logout">LOG OUT</a>
        <a class='button-block__profile-link' href="/upload">UPLOAD</a>
    </div>
    <div class="images-block">
        {{#each paths}}
            <img src="{{ this }}" />
        {{/each }}
    </div>

</body>
</html>