<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Register</title>
</head>
<body>
    <form id="form" name="form" action="/reg" method="post" class="slds-form slds-form_stacked slds-form__custom-login">
        <div class="slds-form-element">
            <label id="user"  class="slds-form-element__label" for="name">
                <abbr class="slds-required" title="required">*</abbr>Login</label>
            <div class="slds-form-element__control">
                <input  autofocus type="text" name="name" id="name" required="" class="slds-input" placeholder="Enter your login..." />
            </div>
        </div>
        <div class="slds-form-element">
            <label id="pass1" class="slds-form-element__label" for="password">
                <abbr class="slds-required" title="required">*</abbr>Password</label>
            <div class="slds-form-element__control">
                <input type="password" name="password" id="password" required="" class="slds-input" placeholder="Enter your password..." />
            </div>
        </div>
        <div class="slds-form-element">
            <label id="pass2" class="slds-form-element__label" for="password">
                <abbr class="slds-required" title="required">*</abbr>Confirm password</label>
            <div class="slds-form-element__control">
                <input type="password" name="password" id="confirm_password" required="" class="slds-input" placeholder="Confirm your password..." />
            </div>
        </div>
        <div class="slds-form-element">
            <div class="slds-form-element__control">
                <input type="submit" id="submit" name="submit" class="slds-input slds-button_neutral entry-button" value="Sign up" />
            </div>
        </div>

        <a href="/" class="slds-text-link">Back to sign in</a>
    </form>
</body>
</html>