<div class="error-message">
    <div class="error-header">
        <p class="error-header-text">Error: can not upload image</p>
        <a class="error-close" href="">X</a>
    </div>
    <div class="error-body">
        <p class="error-body-text">{{{ fileName }}} : {{#each errorMessage}} {{ this.error }} {{/each}}</p>
    </div>
</div>