@import "~@salesforce-ux/design-system/scss/index.scss";

.slds-form__custom-login {
    width: 40%;
    height: 40%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.slds-form__custom-upload {
    width: 40%;
    height: 40%;

    margin: auto;
    padding: 10px;
}

.slds-form-element__control__custom-upload-button,
.upload-field {
    text-align: center;
}

.slds-input.slds-button_neutral {
    width: 40%;
}


.slds-input.slds-button_neutral.entry-button {
    width: 100%;
}

input[type="file"] {
    display: none;
}

.slds-file_card_custom {
    width: 15rem;
    height: 9rem;
    overflow: hidden;
    display: inline-block;
}

.slds-file-selector_files {
    .slds-file-selector__body {
        justify-content: center;
    }
}

.slds-file-selector.slds-file-selector_files {
    padding-bottom: 1rem;
}

.slds-file-selector__body {
   height: 250px;
   width: 300px;
}

.errors-block {
   top: 58px;
   position: absolute;
}

.error-message {
   background-color: rgba(255, 204, 204, 0.8);
   padding: 2px 10px 20px 20px;
   margin-bottom: 0.5rem;
   border-radius: 0.2rem;
}

.error-header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border-bottom: 1px solid #8c92ac;
   margin-bottom: 20px;
}

.error-close {
   color: #444;
   padding: 0;
}

.warning {
   display: inline-block;
   background-color: #ffcc00;
   padding: 0.2rem 0.8rem;
   border-radius: 0.2rem;
}

.buttons {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0.5rem;
}

.images-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 2px;
    margin: 30px;
    background-color: #e7e7e7;

    img {
        max-width: 400px;
        max-height: 400px;
        margin: 20px;
        border-radius: 3px;
    }
}

