@import "~@salesforce-ux/design-system/scss/index.scss";

.slds-form__custom-login {
    width: 40%;
    height: 40%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.slds-form__custom-upload {
    width: 40%;
    height: 40%;

    margin: auto;
    padding: 10px;
}

.slds-form-element__control__custom-upload-button, .upload-field {
    text-align: center;
}

.slds-input.slds-button_neutral {
    width: 40%;
}
input[type="file"] {
    display: none;
}

.slds-file_card_custom {
    width: 15rem;
    height: 9rem;
    overflow: hidden;
    display: inline-block;
}

.slds-file-selector_files .slds-file-selector__body, .slds-file-selector--files .slds-file-selector__body {
    justify-content: center;
}

.slds-file-selector__body {
    height: 250px;
    width: 300px;
}

//.button-block__exit-link {
//    float: right;
//
//    display: inline-block;
//    outline: none;
//    text-decoration: none;
//
//    background-color: #ff5369;
//    transition: background-color 0.5s;
//    color: #efefef;
//    padding: 5px;
//    border-radius: 3px;
//}
//
//.button-block__exit-link:hover {
//    background-color: #99364c;
//}
//
//.button-block__profile-link {
//    display: inline-block;
//    outline: none;
//    text-decoration: none;
//
//    background-color: #9669ae;
//    transition: background-color 0.5s;
//    color: #efefef;
//    padding: 5px;
//    border-radius: 3px;
//}
//
//.button-block__profile-link:hover {
//    background-color: #533566;
//}
//
//.images-block__image-wrap {
//    display: inline-block;
//    position: relative;
//    margin: 5px;
//    overflow: hidden;
//
//    width: 100px;
//    height: 100px;
//}
//
//.images-block__image-wrap img {
//    min-width: 100px;
//    min-height: 100px;
//}
//
//.images-block {
//    display: flex;
//    flex-wrap: wrap;
//    justify-content: center;
//    align-items: center;
//
//    padding: 10px;
//    border-radius: 2px;
//    margin: 30px;
//    background-color: #514d52;
//}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
