@import url('http://fonts.googleapis.com/css?family=Open+Sans');

body{
    background:#292931;
    font-family:'Open Sans';
}

.wrap_uploader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 50%;
    height: 60%;
    margin: auto;
    padding: 10px;

    background-color: #efefef;
    border-radius: 2px;
}

.file-upload {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #ae6cac;
    transition: background-color 0.5s;
    border-radius: 2px;
    padding: 8px 0;
    color: #efefef;
    text-align: center;
    text-transform: uppercase;
    font: bold 1.4rem/1.4rem 'Source Sans Pro',arial,helvetica,sans-serif;
}
.file-upload:hover {
    background-color: #c9db48;
}
.file-upload input[type="file"]{
    display: none;
}
.file-upload label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.file-upload span {
    line-height: 48px;
}

.filename {
    border: 0;
}

.upl-btn {
    background-color: #76cdd7;
    transition: background-color 0.5s;
    float: right;
    border: 0;
    border-radius: 2px;
    padding: 12px;
    color: #efefef;
    text-align: center;
    text-transform: uppercase;
    font: bold 1.4rem/1.4rem 'Source Sans Pro', arial, helvetica, sans-serif;
    margin-top: -54px;

    cursor: pointer;
}

.upl-btn:hover {
    background-color: #386067;
}

.logo {
    text-align: center;
}

.logo img {
    width: 20%;
}

.btn-exit {
    float: right;

    display: inline-block;
    outline: none;
    text-decoration: none;

    background-color: #FF5369;
    transition: background-color 0.5s;
    color: #efefef;
    padding: 5px;
    border-radius: 3px;
}

.btn-exit:hover {
    background-color: #99364C;
}

.btn-prof {
    display: inline-block;
    outline: none;
    text-decoration: none;

    background-color: #9669AE;
    transition: background-color 0.5s;
    color: #efefef;
    padding: 5px;
    border-radius: 3px;
}

.btn-prof:hover {
    background-color: #533566;
}

.img-wrap {
    display: inline-block;
    position: relative;
    margin: 5px;
    overflow: hidden;

    width: 100px;
    height: 100px;
}

.img-wrap img {
    min-width: 100px;
    min-height: 100px;
}

.wrap_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 10px;
    border-radius: 2px;
    margin: 30px;
    background-color: #514D52;
}

.previewWrap {
    display: inline-block;
    margin: 10px;
    position: relative;
    width: 100px;
}

.btn-del {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 5px;
    background-color: #76cdd7;
    cursor: pointer;
}

.previewWrap img {
    display: block;
    max-width: 100px;
    background-size: cover;
}

